$menu-color: rgba(224, 223, 213, 0.11);

.app {
	position: relative;

	&__content {
		width: 60%;
		max-width: 800px;
		margin: 0 auto;
		padding: 1em;
	}

	&__menu {
		position: absolute;
		position: sticky;
		left: 0;
		top: .5em;
		float: left;
		transition: transform 1s linear;
		background-color: $menu-color;
		filter: drop-shadow(0 0 5px gray);
		border-bottom-right-radius: 10%;
		margin-top: .5em;
		
		&.closed {
			transform: translateX(-100%);
			cursor: pointer;
		}
		
		&__activate {
			position: absolute;
			top: 0;
			left: 100%;
			border: 5px solid transparent;
			border-radius: 0 53% 53% 0/0 62% 62% 0;
			background-color: inherit;
		}

		&__list {
			list-style: none;
			padding: 1em;
			font-family: monospace;
			text-transform: uppercase;
			font-size: 1.7em;
			
			&--nested {
				font-size: .9em;
				padding: 0 0 0 1em;
			}
		}

		&__item {
			padding: .3em;
			border-bottom: 1px solid grey;
			
			> a {
				text-decoration: none;
				color: #696464;
			}
			
			> .active {
				color: black;
				font-weight: bold;
				text-decoration: underline;
			}
		}
	}
}

@import './activate-btn';

.steps-navigation {
	display: flex;
	margin: 2em 0 1em;
	position: fixed;
	left: 15%;
	right: 15%;
	bottom: 8rem;

	@supports (position: sticky) {
		position: sticky;
		bottom: 3rem;
		width: 120%;
		margin-left: -10%;
	}
	
	> .arrow {
		width: 2.5em;
		height: 2.5em;
		border: 0.4em solid black;
		border-style: solid solid none none;
		display: inline-block;
		filter: drop-shadow(0 2px 2px black);
		
		&:first-of-type:not(:only-of-type) {
			transform: rotate(-135deg);
			margin-right: auto;
		}
		
		&:last-of-type {
			transform: rotate(45deg);
			margin-left: auto;
		}
	}
}
