.app {
	position: relative;

	&__content {
		width: 60%;
		max-width: 800px;
		margin: 0 auto;
		padding: 1em;
	}

	&__menu {
		position: absolute;
		left: 0;
		top: 0;

		&__list {
			list-style: none;
		}

		&__item {
			> .active {
				color: red;
				font-weight: bold;
			}
		}
	}
}
