@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import './hidenext', './scss/line-numbers';

$markdown-font: 'Open Sans' !default;

.markdown {
	$home-background: #f1f0e6 !default;
	$link-color: #0349a7 !default;
	$link-color-visited: #1d0ed0 !default;
	$table-border-color: #ddd !default;
	$table-odd-cell-color: #f3efef !default;
	$table-min-width: 500px !default;
	$table-fallback-width: 80% !default;

	font-family: $markdown-font, sans-serif;
	margin-bottom: 2em;
	
	.home & {
		font-style: italic;
		border-radius: 10px;
		box-shadow: 1px 3px 3px gray, inset 0 2px 6px gray;
		padding: 1em;
		background: $home-background;
		
		h3 {
			text-align: center;
			font-weight: normal;
			margin-bottom: 1.5em;
		}
	}
	
	h2 {
		margin: 1em;
	}

	p {
		margin: 1em;
		text-align: justify;
		line-height: 1.6;
	}
	
	img {
		margin: 0 auto;
		display: block;
		max-width: 100%;
	}

	pre {
		margin: 1em;
		
		+ pre {
			margin-top: 1.5em;
		}
	}
	
	hr:last-child {
		margin-top: 1em;
	}

	a {
		text-decoration: none;
		color: $link-color;

		&:visited {
			color: $link-color-visited;
		}
		
		&:hover {
			text-decoration: underline;
		}
	}
	
	table {
		width: $table-fallback-width;
		width: fit-content;
		max-width: 100%;
		min-width: $table-min-width;
		margin: 2em auto;
		border-spacing: 0;
		border-collapse: collapse;
		line-height: 1.4;
		
		> thead, > tbody, > tfoot {
			> tr {
				> th, > td {
					padding: .5em;
					vertical-align: top;
					border-top: 1px solid $table-border-color;
					border-right: 1px solid $table-border-color;
				}
			}
		}

		> thead > tr > th {
			vertical-align: bottom;
			border-bottom: 2px solid $table-border-color;
		}

		> thead:first-child {
			> tr:first-child {
				> th,	> td {
					border-top: none;
				}
			}
		}
		
		> tbody > tr:nth-child(odd) {
			> td, > th {
				background-color: $table-odd-cell-color;
			}
		}
	}
	
	.footnotes {
		font-size: .9rem;
		
		&-sep {
			margin-top: 1em;
		}
	}
}
