@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.markdown {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 2em;
	
	.home & {
		font-style: italic;
		border-radius: 10px;
		box-shadow: 1px 3px 3px gray, inset 0 2px 6px gray;
		padding: 1em;
		background: #f1f0e6;
		
		> p:last-of-type {
			text-align: right;
			margin-top: 2em;
		}
	}
	
	h2 {
		margin: 1em;
	}

	p {
		margin: 1em;
		text-align: justify;
		line-height: 1.6;
	}
	
	img {
		margin: 0 auto;
		display: block;
		max-width: 100%;
	}

	pre {
		margin: 1em 0 1em 1em;
		
		+ pre {
			margin-top: 1.5em;
		}
	}
	
	hr:last-child {
		margin-top: 1em;
	}

	a {
		text-decoration: none;
		color: #0349a7;

		&:visited {
			color: #1d0ed0;
		}
		
		&:hover {
			text-decoration: underline;
		}
	}
	
	table {
		width: 80%;
		width: fit-content;
		max-width: 100%;
		min-width: 500px;
		margin: 2em auto;
		border-spacing: 0;
		border-collapse: collapse;
		line-height: 1.4;
		
		> thead, > tbody, > tfoot {
			> tr {
				> th, > td {
					padding: .5em;
					vertical-align: top;
					border-top: 1px solid #ddd;
					border-right: 1px solid #ddd;
				}
			}
		}

		> thead > tr > th {
			vertical-align: bottom;
			border-bottom: 2px solid #ddd;
		}

		> thead:first-child {
			> tr:first-child {
				> th,	> td {
					border-top: none;
				}
			}
		}
		
		> tbody > tr:nth-child(odd) {
			> td, > th {
				background-color: #f3efef;
			}
		}
	}
	
	.footnotes {
		font-size: .9rem;
	}
}
