extends ~html-webpack-template-pug/layout.pug

block content
	header.main-header
		p.main-header__title Worker's Journey
	main.content
		.central-pane.glass-frame.pinned
			+appMount(class="app-wrapper")

	footer.main-footer
		p 
