doctype html
head
	link(rel="stylesheet", href="style.css")
		
	style.
		*, ::before, ::after {
			box-sizing: border-box;
			margin: 0;
		}
		
		.worker-display {
			margin: 4em;
			text-align: center;
		}
		
		.output {
			max-width: 700px;
		}

	
body
	.worker-display
		include ./example.html
		a(href=".", target="_blank") Duplicate page
		
		
			
	script(src="script.js")
	
